<?xml version="1.0"?>
<ruleset name="Order Machine">
	<description>WordPress Coding Standards for the Order Machine plugin.</description>

	<file>.</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/stikerts/*</exclude-pattern>
	<exclude-pattern>*/.wp-env/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg value="s"/>
	<arg name="basepath" value="."/>

	<!-- Requires: composer require --dev wp-coding-standards/wpcs dealerdirect/phpcodesniffer-composer-installer -->
	<rule ref="WordPress"/>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="som"/>
				<element value="SOM"/>
			</property>
		</properties>
	</rule>
</ruleset>
